{% extends "ProyectoFinalApp/base.html" %}
{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}
       
        <p style="color:white; text-align:center; font-family: Helvetica;" > Informacion enviada correctamente, gracias por contactarnos!</p>

    {% endif %}

    <form action="" method="POST" style="text-align:center; font-family: Helvetica;">
         {% csrf_token %}
         <table style="color:white; margin: 20px auto;">{{miFormulario.as_table}}</table>
         <input type="submit"  class="btn btn-success" value="Enviar" style="width: 150px;">
    </form>

</div>  
{% endblock %}
