{% extends "ProyectoFinalApp/base.html" %}
{% load static %}

{% block content %}

<html>
    
    <body>
        <div class="content container" style="background-color: white ; text-align:justify;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    {% for post in posts %}
                        <div class="post">
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 100%; ">
                            <div class="date" style="font-family:sans-serif;">
                                <p>Publicado: {{ post.created }}</p>
                                <p>Autor: {{ post.autor }}</p>
                            </div>
                            <h2><a href="" style="color: rgb(8, 214, 50) ; font-family:Lucida Sans Unicode;">{{ post.titulo }}</a></h2>
                            <span class="section-heading-upper" style="font-family:Helvetica;">{{post.contenido}}</span>
                            <div><p></p></div>
                            <hr style="height: 12px; background-color: rgb(1, 0, 0);">
                           
                            
                        </div>
                    {% endfor %}
                    <section>
                        <div><p></p></div>  
                        <div style="width:75%; margin:auto; text-align:center; color:rgb(0, 31, 13); font-family: Impact;">
                        <div><p></p></div>  
                          Categorias:&nbsp;&nbsp;&nbsp;
                  
                          {% for post in posts %}
                          
                             {% for categoria in post.categorias.all %}
                  
                                   {{categoria.nombre}} &nbsp;&nbsp;&nbsp;
                  
                             {% endfor %}
                             
                  
                          {% endfor %}
                      
                        </div>
                     </section>
                </div>
            </div>
        </div>
    </body>
</html> 


{% endblock %}