{% extends "ProyectoFinalApp/base.html" %}
{% load static %}

{% block content %}

<div class="container">

  <div class="row center-content-md-center">


    <div class="col">

      <div class="card text-white bg-dark mb-3" style="width: 100%;margin: 5px 5px; background: linear-gradient(-98deg, #11998E, #38EF7D);">
 
          <img src="{% static 'ProyectoFinalApp/img/me.png' %}" class="mx-auto" style="width: 30%; " alt="Card image cap">

          <div class="card-body" style="text-align: center;">
 
               <h7 class="card-title" style="font-family: Arial Black; font-size:25px; color:black">VOLA CHRISTIAN FEDERICO</h7>
               
               <div><p></p></div>
                    <hr style="height: 2px; background-color: rgb(255, 255, 255);"> 
                <div><p></p></div>

                <p class="card-text" style="font-family: Lucida Sans Unicode; font-size:14px; text-align:center; color:black">Tiene 33 años. Contador Publico, realizo el curso de Python en CoderHouse. Gran apasionado del mundo de la tecnologia, actualmente adentrandose en el mundo de la programacion.</p>

              </div>

            </div>
          </div>


  </div>


</div>


{% endblock %}
